{% extends 'base.html' %}
{% load static  %}

{% block content %}

<h1>List of mangas</h1>


    {% for post in posts %}

        <div class = "post">
            <!-- <h2>{{ post.title }}</h2> -->
            <a href="{% url 'post_detail' post_id=post.id %}" class="link"><h1>{{post.id}} | {{post.title}}</h1></a>
            <p>By {{ post.author }}</p>
            <img src="{% static 'images/lusia.jpg' %}" alt="photo" class="image">
        </div>

    {% endfor %}


    <div class = "footer">
            {% if posts.has_previous %}
                <a class = "nav-link" href = "{% url 'posts_home' %}?page={{posts.previous_page_number}}"> Previous </a>
            {% endif %}

            {% if posts.has_next %}
                <a class = "nav-link" href = "{% url 'posts_home' %}?page={{posts.next_page_number}}"> Next </a>
            {% endif %}
            <a class = "nav-link" >({{posts.number}}/{{posts.paginator.num_pages}})</a>
    </footer>


    {% endblock content %}

<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django Template</title>
</head>
<body>
    {% comment %} <h1>Hello {{name}}</h1> {% endcomment %}

    <header>
        <a href="{% url 'posts_home' %}">Home</a>
        <a href="{% url 'posts_about' %}">About</a>
        <a href="{% url 'posts_services' %}">Services</a>
    </header>



    <h1>List of mangas</h1>

    {% for post in posts %}
        <h2>{{ post.title }}</h2>
        <p>By {{ post.author }}</p>
    {% endfor %}

</body>

</html> -->